/* dans le cas où l'on veuille imprimer une page, notre feuille css pourrait changer pour être plus print-friendly */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.block {
    height: 150px;
    width: 100px;
    background-color: antiquewhite;
    margin: 2%;
}


/* pour les écran de 468px de largeur et plus */
@media screen and (min-width: 468px){
    .container {
    flex-direction: row;
    flex-wrap: wrap; 
    }
}
.block {
    font-size: 4em
}

/*pour les écrans de tablette et + */
@media screen and (min-width: 760px){

}

