.main-nav {
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
 background-color: rgb(241, 229, 229);

    }
           

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 931px;
    
}
.Infos li {
    list-style-type: none;
}


.Infos {display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: blue; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 460px;
    height: 310px;
   

}

img {
   
    float: right
}

header img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card {
  
    background-color: white;

    height: 300px;
    width: 450px;

    padding: 5px;

    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.CV {display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    width: 921px;
    justify-content: space-around; 
    border-radius: 6px;
    color: teal;
    background-color: turquoise;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Comp1 { display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: blue;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;

}



.Compétences {
    width: 95%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    color: blue;
    font-size: 15px;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-around;
    background-color: rgba(221, 240, 248, 0.877);
    
    
}

.Compétences li {
    list-style-type: none;
    
}

.Compétences li a {
  text-decoration: none;
}

.Compétences li :hover {
    background-color: rgb(145, 161, 194);
    
}




.container {
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    color: blue;
    font-size: 15px;
    justify-content: space-around;
    width: 931px;
    height: 410px;
    
    background-color: white;

    padding: 5px;

    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), 
                0px 3px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.container :hover {
    
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2),
                0px 10px 30px rgba(0, 0, 0, 0.2);

}



.Competence {
    display: flex;
    width: 921px;
    height: 50px;
    align-items: center;
    justify-content: space-around; 
    color: teal;
    text-decoration: underline;
    border-radius: 6px;
    background-color: turquoise;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.Exp {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around; 
    color: teal;
    margin-left: 8px;
    border-radius: 6px;
    text-decoration: underline;
    width: 921px;
    height: 50px;
    margin-right: 8px;
    background-color: turquoise;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ExperiencePro {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    color: teal;
    font-size: 1em;
    padding: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ExperiencePro li {
    list-style-type: none;


}

.Loisirs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 6px;
    width: 921px;
    height: 50px;
    text-decoration: underline;
    color: teal;
    background-color: turquoise;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ExperiencePro {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: blue;
    
}

.Activités {
    display: flex;
    flex-direction: row;
    height: 56px;
    flex-wrap: nowrap;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between ;
    font-size: 1em;
    color: blue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.Phrase {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
    font-size: 1em;
    font-style: italic;
    text-decoration: underline;
   
}



.button {
    display: flex;
    align-items: center;
    flex-direction: row;
   justify-content: space-around;
   border-bottom: none;
    cursor: pointer;
   color: blueviolet;
    margin-top: 50px;
   
    
}

.button :hover {
    
    background-color: rgb(136, 180, 14);
    
}

.Twitter {
    border: none;
    background-color: cadetblue;
    height: 50px;
    text-decoration: rgb(233, 25, 25);
    border-radius: 6px;
    border: white;
    transition: background-color 1.5s, width 1s;
    
}

.Twitter :hover {
    color: rgb(86, 86, 230);
}
.Facebook {
    border: none;
    background-color: cadetblue;
    height: 50px;
    border-radius: 6px;
    transition: background-color 1.5s, width 1s;
}

.Facebook :hover {
    color: blue;
}


.Insta {
    border: none;
    background-color: cadetblue;
    height: 50px;
    border-radius: 6px;
    transition: background-color 1.5s, width 1s;
}

.Insta :hover {
    color: rgba(255, 0, 43, 0.795);
}