.main-nav {
    background-color: rgb(211, 211, 238);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 6px;
    height: 1195.19px;
}
header {
    height: 24%;
}

.CV { display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12%;
    background-color: rgb(183, 183, 233);
    border-radius: 6px;

}



h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2%;
    background-color: rgb(183, 183, 233);
    border-radius: 6px;
}



img {
    display: flex;
    justify-content: right;
}

.Comp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    background-color: rgb(183, 183, 233);
    border-radius: 6px;

}

.Competence {
    display: flex;
    list-style-type: none;
    flex-direction: column;
   
}

progress {
    width:300px;
padding:2px;
background-color:white;
border:1px solid black;
text-align:center
}

.Quality {
    display: flex;
    flex-direction: column;
   align-items: flex-end;
    list-style-type: none;
    margin-right: 5%;
}

.card  {
    border-radius: 5px;
    background-color: white;
    margin: 15px;
    
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), 
                0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    background-color: rgb(183, 183, 233);
    color: #111111ca;
}

.ExperiencePro {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    
}


footer {
    height: 200px;

}

.Activites {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

.phrase {
    text-decoration: underline;
    font-style: italic;
    color: navy;
    
}


.button {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    
}

.button :hover {
    background-color: olive;
    transition: 1s;

}

.Twitter {
    display:block;
width:150px;
line-height:40px;
text-align:center;
border-radius: 12px;
background-color: rgb(183, 183, 233);
border: none;
}

.Facebook {
    display:block;
width:150px;
line-height:40px;
text-align:center;
border-radius: 12px;
background-color: rgb(183, 183, 233);
border: none;
}

.Insta {
    display:block;
width:150px;
line-height:40px;
text-align:center;
border-radius: 12px;
background-color: rgb(183, 183, 233);
border: none;
}

